[submodule "collection-extensions"]
	path = collection-extensions
	url = git://github.com/dylan-lang/collection-extensions.git
[submodule "common/command-line-parser"]
	path = common/command-line-parser
	url = git://github.com/dylan-lang/command-line-parser.git
[submodule "qa/testworks"]
	path = qa/testworks
	url = git://github.com/dylan-lang/testworks.git
[submodule "qa/testworks-specs"]
	path = qa/testworks-specs
	url = git://github.com/dylan-lang/testworks-specs
