#!/usr/bin/make -f
# Gwydion Dylan Rules File

###############
# CONFIGURATION

GD_DEBUG=yes
GD_VERSION=$(shell cat version)

GD_PREFIX=/usr
GD_MANDIR=$(GD_PREFIX)/share/man

GD_BOOTSTRAP_PREFIX=$(shell pwd)/debian/bootstrap
GD_BOOTSTRAP_BINDIR=$(GD_BOOTSTRAP_PREFIX)/bin

export DH_COMPAT=5
export DH_VERBOSE=0

########
# SANITY

GD_BOOTSTRAP_D2C=$(shell which d2c)
ifeq "$(GD_BOOTSTRAP_D2C)" ""
  $(error "You need a working d2c to compile gwydiondylan 2.5")
endif

#########################
# BUILD SYSTEM GENERATION

generate: generate-stamp
.PHONY: generate

generate-stamp:
	dh_testdir
	
	./real-autogen.sh
	
	touch generate-stamp

####################
# BOOTSTRAP HANDLING

bootstrap: bootstrap-stamp
.PHONY: bootstrap

bootstrap-stamp: generate-stamp
	dh_testdir
	
	# configure with bootstrap enabled
	./configure --prefix=$(GD_BOOTSTRAP_PREFIX) \
		    --bindir=$(GD_BOOTSTRAP_BINDIR) \
		    --enable-debug=$(GD_DEBUG)      \
		    --enable-bootstrap
	
	# build the bootstrap compiler
	$(MAKE)
	
	# install to a temporary directory
	$(MAKE) install
	
	# do only the post-bootstrap cleanup
	$(MAKE) bootstrap_clean

	touch bootstrap-stamp

###############
# CONFIGURATION

configure: configure-stamp
.PHONY: configure

configure-stamp: bootstrap-stamp
	dh_testdir
	
	PATH=$(GD_BOOTSTRAP_BINDIR):$(PATH)    \
	./configure --prefix=$(GD_PREFIX)      \
		    --mandir=$(GD_MANDIR)      \
		    --enable-debug=$(GD_DEBUG)
	
	touch configure-stamp

#######
# BUILD

build: build-stamp
.PHONY: build

build-stamp: configure-stamp
	dh_testdir
	
	PATH=$(GD_BOOTSTRAP_BINDIR):$(PATH) \
	$(MAKE)
	
	touch build-stamp

##############
# INSTALLATION

install: build-stamp
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	PATH=$(GD_BOOTSTRAP_BINDIR):$(PATH) \
	$(MAKE) DESTDIR=`pwd`/debian/gwydiondylan install

.PHONY: install

#########
# CLEANUP

clean:
	dh_testdir
	dh_testroot

	rm -f generate-stamp bootstrap-stamp configure-stamp build-stamp
	
	rm -rf debian/bootstrap debian/gwydiondylan
	
	$(MAKE) clean
	
	dh_clean

.PHONY: clean

###########
# PACKAGING

# Build architecture-independent files here.
binary-indep:

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
#	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installcatalogs
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
#	dh_undocumented
#	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_python
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: binary-indep binary-arch binary

